{% extends 'base.html' %}

{% load static %}


{% block content %}
<style type="text/css">
#watermark {
  color: #d0d0d0;
  font-size: 300pt;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  position: absolute;
  width: 600px;
  height: 600px;
  margin: 0;
  z-index: -1;
  left:0px;
  top:0px;
}
</style>
	
		<center>
			<br>
			
		<body>
		
		<center><a class="btn btn-secondary" style="width:auto;background-color:darkgray"><h2>SECTIONS OF {{single_dept.d_name}}</h2></center></a><br>
		<div id="watermark">
  			<img src={{single_dept.d_image}}  style="opacity: 1;"/><br><br>
		</div>
		{%for sub in sub_depts %}
			{% if user.is_authenticated %}
				<center><a  href="{% url 'books' sub.id%}" class="btn btn-primary" style="width:500px">{{sub.sub_dept_name}}</a></center><br>
			{% else %}
			<a href="{%url 'login' %}"></a>
			{% endif %}
		{% endfor %}
			
		</body>

	{% endblock %}
